@model IEnumerable<BugTrackerMvc.Models.Issue>

@{
    ViewData["Title"] = "Issues";
}

<h1>Issues</h1>

<p>
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <a asp-action="Create">Post a new issue...</a>
    }
    else
    {
        <div><a asp-controller="Authentication" asp-action="SignIn">Sign in</a> to post an issue</div>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @if (item.Solved)
            {
                <td>Solved</td>
            }
            else
            {
                <td>Unsolved</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Poster)
            </td>
            <td>
                @if (User?.Identity?.IsAuthenticated ?? false && item.Poster == Context?.User?.Claims?.ElementAt(1)?.Value)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                else {
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
